{% extends "temp/base.html" %}
{% load static %}

{% block content %}

<div class="techwave_fn_content">
	<!-- PAGE (all pages go inside this div) -->
	<div class="techwave_fn_page">
	  <!-- Community Feed Page -->
	  <div class="techwave_fn_community_page">
		<div class="fn__title_holder">
		  <div class="container">
			<h1 class="title">Lihat Tugas</h1>
		  </div>
		</div>
		<!-- Feed -->
		<div class="techwave_fn_feed">
		  <div class="container">
			<!-- feed filter -->
			<div class="feed__filter">
			  <div class="filter__left">
				<div class="filter__search">
                    <form method="GET" action="{% url 'view_grade' %}">
                        {{ form.as_p }}
                        <button type="submit">Filter</button>
                    </form>
				</div>
			  </div>
			</div>
			<!-- !feed filter -->
			<!-- feed content -->
			<div class="feed__content">
			  <div class="feed__results">
				<div class="fn__preloader">
				  <div class="icon"></div>
				  <div class="text">Loading</div>
				</div>
				<div class="pagination">
				  <table class="table lms_table_active">
					<thead>
					  <tr>
						<th scope="col" style="text-align: center; ">Pembuat Tugas</th>
						<th scope="col" style="text-align: center;">Tugas</th>
                        <th scope="col" style="text-align: center;">Nilai</th>
                        <th scope="col" style="text-align: center;">Feedback</th>
					  </tr>
					</thead>
					<tbody>
                        {% for grade in grades %}
					  <tr>
						<th scope="row">{{ grade.submission.assignment.author.username }}</th>
                        <td>{{ grade.submission.assignment.title }}</td>
						<td>{{ grade.grade }}</td>
						<td>{{ grade.feedback }}</td>
					  </tr>
                      {% endfor %}
					</tbody>
				  </table>
				</div>
			  </div>
							<!-- !feed content -->

						</div>
					</div>
					<!-- !Feed -->

				</div>
				<!-- !Community Feed Page -->

			</div>
			<!-- !PAGE (all pages go inside this div) -->


			<!-- FOOTER (inside the content) -->
			<footer class="techwave_fn_footer">
				<div class="techwave_fn_footer_content">
					<div class="copyright">
						<p>2023© Fransiskus Riswan Indra Simbolon</p>
					</div>
					<div class="menu_items">
						<ul>
							<li><a href="terms.html">T A </a></li>
							<li><a href="privacy.html">Skrispi </a></li>
						</ul>
					</div>
				</div>
			</footer>
			<!-- !FOOTER (inside the content) -->

		</div>
		<!-- !CONTENT -->


	</div>
</div>
{% endblock content %}